body {
    width: 100%;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    background-color: #29282c;
}

#firstCol,
#secondCol {
    background-color: rgba(109, 109, 109, 0.63);
    height: 90vh;
    border-radius: 15px;
    box-shadow: 0px 24px 43px -30px rgba(109, 109, 109, 0.63);

}

.result {
    border-radius: 5px;
    box-shadow: 0px 16px 20px 0px #ffcc3300;
    background-color: white;
    padding: 10px 15px;
    overflow-y: scroll;
    max-height: 0;
    animation: godown .5s ease-in forwards;
    z-index: 1;
    position: relative;

    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.795);
    }
}

@keyframes godown {
    to {
        max-height: 60vh;
    }
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 10px;
    transition: background-color .6s, box-shadow .6s;

    &:hover {
        background-color: #f7bb0e;
        box-shadow: 0px 22px 25px -10px #95817d;

    }
}

.poster img {
    max-width: 90px !important;
    max-height: 350px;
    border-radius: 5px;
    box-shadow: 0px 22px 25px -10px #95817d;
}

.one,
.two {
    width: 100%;
    border: 2px solid #f7bb0e;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: #f7bb0e;
    color: #ffffff;
    margin-top: -15px;
    box-shadow: 0px 4px 16px -6px rgba(247, 187, 14, 0.58);

    &:focus {
        background-color: #f7bb0e;
        box-shadow: 0px 4px 31px -6px rgba(247, 187, 14, 0.58);
        border: 2px solid #f7bb0e;
    }
}


.title h2 {
    font-size: 26px;
    text-align: center;
}

.close {
    animation: gotop .3s ease-in forwards;
    overflow: hidden;
}

@keyframes gotop {
    from {
        max-height: 60vh;

    }

    to {
        max-height: 0;
        padding: 0;
    }
}

.result-img {
    display: block;
    max-width: 30%;
    margin: auto;
    max-height: 115px;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #212529;
}

#inside {
    z-index: 2;
    position: absolute;
}

.media-content {
    margin-top: 2em;
    padding: 20px !important;
    animation: fadein 1s ease-in forwards;

}

.vertical {
    display: flex;
    flex-direction: column;
}

#reteMovie {
    width: 100%;
    display: flex;
    text-align: center;

    span img {
        width: 50%;
        margin-bottom: 10px;
    }
}

.yell {
    color: #f7bb0e;
    margin-bottom: 10px;
    font-size: 20px;
}

#descMovie p {
    color: #eaeaea;
}

#nameMovie {
    margin-top: 20px;
    color: white;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}